@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
* {
    margin: 0;
    padding: 0;
    text-align: center;
}

html {
    color: orange;
    background:rgb(45, 43, 43);
    font-family: 'Cormorant Garamond', Helvetica, Arial, serif;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.row-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}


.body{
    color: white;
    font-size: 1rem;
}  

h2{
    margin-bottom: 2%;
    margin-top: 7%;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-link, #back-to-top, .body-link{
    color: white;
    text-decoration: underline;
    text-decoration-color:orange;
    transition: .7s;
}
.nav-link:hover, #back-to-top:hover, .body-link:hover{
    color: orange;
    text-decoration-color:white;
}

.body-link{
    padding-top: .5rem;
}

nav{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 90vw;
    margin-top: 3%;
}

footer{
    margin-top: 10%;
    text-align: center;
}

main{
    margin: auto;
}

.footer-image-link, .footer-section{
    margin: .9rem;
    text-decoration: none;
}

.icon{
    color: rgb(45, 43, 43);
    transition: 1s ease;
    display: inline-block;
}
.icon:hover{
    color: white;
    transition: 1s ease;
}

li{
    list-style-type: disc;
    text-align: center;
    list-style: inside;
    margin: .3rem .5rem 0 .5rem;
}

a{
    color: white;
}

.skill-logo{
    margin: .3rem;
}

@media screen and (min-width: 801px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    main{
        width: 70vw;
    }
    nav{
        font-size: 1.5rem;
        width: 50vw;
    }
    .body {
      font-size: 1.5rem;
    }
}